body {
  margin: 0;
  font-family: 'Comic Sans MS', 'Poppins', sans-serif;
  background-color: #FFF9F0;
  color: #4B3B6B;
}

.header {
  background-color: #E3D0FF;
  background-image:(https://github.com/radhpkk/intervensi-web/blob/main/images.jpg?raw=true);
  background-size: cover;
  background-position: center;
  padding: 40px 20px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px #00000060;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4); 
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.8rem;
  margin: 0;
}

p {
  font-size: 1.3rem;
  margin-top: 10px;
}

.content {
  padding: 30px;
  background-color: #ffffffdd;
  margin: 20px auto;
  max-width: 800px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

a {
  color: #d06eff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  background-color: #E0F7FA;
  text-align: center;
  padding: 20px;
  font-size: 1rem;
  color: #E1BEE7;
}

footer a {
  color: #E1BEE7;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
